<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>WEATHER-APP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Sonsie+One&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/CSS/styles.css">
    
</head>
<body>
     <header>
    <h1>{{title}}</h1>
    </header>
    <div class="contenedor"></div>
   
 <p id= "informando">Informando directamente desde la nube!</p>

             <form>
                 <input placeholder="Ubicacion/Ciudad">
                 <button>Buscar!</button>
             </form>
             <p id="message-1"></p>
             <p id="message-2"></p>
    
    <footer>
        <p>Created by {{name}}</p>
    </footer> 
    </div>
      <script src="/JS/app.js" ></script>
</body>
</html> 